.gradasitext1 {
  background: linear-gradient(90deg, #006eff, #2ad6cc);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  font-weight: bold;
}

.gradasitext2 {
  background: linear-gradient(90deg, #ffa800, #d6532a);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  font-weight: bold;
}

.gradasitext3 {
  background: linear-gradient(90deg, #f11b4e, #d62ac0);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  font-weight: bold;
}

.fga9f1df-ffbbbb {
  background: linear-gradient(90deg, #a9f1df, #ffbbbb);
  border-radius: 100px !important;
  color: #fff;
}

.fgd8b5ff-1eae98 {
  background: linear-gradient(90deg, #d8b5ff, #1eae98);
  border-radius: 100px !important;
  color: #fff;
}

.fgbff098-6fd6ff {
  background: linear-gradient(90deg, #bff098, #6fd6ff);
  border-radius: 100px !important;
  color: #fff;
}

.fgc6ea8d-fe90af {
  background: linear-gradient(90deg, #c6ea8d, #fe90af);
  border-radius: 100px !important;
  color: #fff;
}

.fgf1eab9-ff8c8c {
  background: linear-gradient(90deg, #f1eab9, #ff8c8c);
  border-radius: 100px !important;
  color: #fff;
}

.fgea8d8d-a890fe {
  background: linear-gradient(90deg, #ea8d8d, #a890fe);
  border-radius: 100px !important;
  color: #fff;
}

.fg00b7ff-ffffc7 {
  background: linear-gradient(90deg, #00b7ff, #ffffc7);
  border-radius: 100px !important;
  color: #fff;
}

.fgfca5f1-b5ffff {
  background: linear-gradient(90deg, #fca5f1, #b5ffff);
  border-radius: 100px !important;
  color: #fff;
}

.fgd74177-ffe98a {
  background: linear-gradient(90deg, #d74177, #ffe98a);
  border-radius: 100px !important;
  color: #fff;
}

.fg38adae-cd295a {
  background: linear-gradient(90deg, #38adae, #cd295a);
  border-radius: 100px !important;
  color: #fff;
}
