.fga9f1df-ffbbbb {
  background: linear-gradient(90deg, #a9f1df, #ffbbbb);
  border-radius: 100px !important;
  color: #fff;
}

.fgd8b5ff-1eae98 {
  background: linear-gradient(90deg, #d8b5ff, #1eae98);
  border-radius: 100px !important;
  color: #fff;
}

.fgbff098-6fd6ff {
  background: linear-gradient(90deg, #bff098, #6fd6ff);
  border-radius: 100px !important;
  color: #fff;
}

.fgc6ea8d-fe90af {
  background: linear-gradient(90deg, #c6ea8d, #fe90af);
  border-radius: 100px !important;
  color: #fff;
}
