.c8BC34A {
  background-color: #8BC34A;
  color: #fff;
}

.c259B24 {
  background-color: #259B24;
  color: #fff;
}

.cFFEB3B {
  background-color: #FFEB3B;
  color: #000;
}

.c616ee2 {
  background-color: #616ee2;
  color: #fff;
}

.c00b3f5 {
  background-color: #00b3f5;
  color: #000;
}

.ced377e {
  background-color: #ed377e;
  color: #fff;
}
