.c093845 {
  background-color: #093845;
  color: #fff;
}

.c00bd57 {
  background-color: #00bd57;
  color: #fff;
}

.c616ee2 {
  background-color: #616ee2;
  color: #fff;
}

.c00b3f5 {
  background-color: #00b3f5;
  color: #000;
}

.ced377e {
  background-color: #ed377e;
  color: #fff;
}
