.materialtron {
  background-image: url(../img/material%20Design/mat1.jpg);
}

.c8BC34A {
  background-color: #8BC34A;
  color: #fff;
}

.c259B24 {
  background-color: #259B24;
  color: #fff;
}

.cFFEB3B {
  background-color: #FFEB3B;
  color: #fff;
}

.ccddc39 {
  background-color: #cddc39;
  color: #fff;
}

.cffc107 {
  background-color: #ffc107;
  color: #fff;
}

.cff9800 {
  background-color: #ff9800;
  color: #fff;
}

.cff5722 {
  background-color: #ff5722;
  color: #fff;
}

.ce51c22 {
  background-color: #e51c22;
  color: #fff;
}

.ce91e63 {
  background-color: #e91e63;
  color: #fff;
}

.c9c27b0 {
  background-color: #9c27b0;
  color: #fff;
}

.c3f51b5 {
  background-color: #3f51b5;
  color: #fff;
}

.c673ab7 {
  background-color: #673ab7;
  color: #fff;
}

.c03a9f4 {
  background-color: #03a9f4;
  color: #fff;
}

.c5677fc {
  background-color: #5677fc;
  color: #fff;
}

.c00bcd4 {
  background-color: #00bcd4;
  color: #fff;
}

.c009688 {
  background-color: #009688;
  color: #fff;
}

.c9e9e9e {
  background-color: #9e9e9e;
  color: #fff;
}

.c795548 {
  background-color: #795548;
  color: #fff;
}

.c607d8b {
  background-color: #607d8b;
  color: #fff;
}

.c212121 {
  background-color: #212121;
  color: #fff;
}
