/* Framework Untuk Penggunaan Pribadi */

/* Material Color */
.mat1 { background-color: #8BC34A; }
.mat2 { background-color: #FFEB3B; }
.mat3 { background-color: #FFC107; }
.mat4 { background-color: #FF5722; }
.mat5 { background-color: #E91E63; }
.mat6 { background-color: #3F51B5; }
.mat7 { background-color: #259B24; }
.mat8 { background-color: #CDDC39; }
.mat9 { background-color: #FF9800; }
.mat10 { background-color: #E51C22; }
.mat11 { background-color: #9C27B0; }
.mat12 { background-color: #673AB7; }
.mat13 { background-color: #03A9F4; }
.mat14 { background-color: #00BCD4; }
.mat15 { background-color: #9E9E9E; }
.mat16 { background-color: #607D8B; }
.mat17 { background-color: #5677FC; }
.mat18 { background-color: #009688; }
.mat19 { background-color: #795548; }
.mat20 { background-color: #212121; }

/* Flat Color */
.fla1 { background-color: #1abc9c; }
.fla2 { background-color: #2ecc71; }
.fla3 { background-color: #3498db; }
.fla4 { background-color: #9b59b6; }
.fla5 { background-color: #34495e; }
.fla6 { background-color: #95a5a6; }
.fla7 { background-color: #16a085; }
.fla8 { background-color: #27ae60; }
.fla9 { background-color: #2980b9; }
.fla10 { background-color: #8e44ad; }
.fla11 { background-color: #2c3e50; }
.fla12 { background-color: #7f8c8d; }
.fla13 { background-color: #f1c40f; }
.fla14 { background-color: #e67e22; }
.fla15 { background-color: #e74c3c; }
.fla16 { background-color: #ecf0f1; }
.fla17 { background-color: #f39c12; }
.fla18 { background-color: #d35400; }
.fla19 { background-color: #c0392b; }
.fla20 { background-color: #bdc3c7; }

/* Fluent Color */
.flu1 { background-color: #FFB900; }
.flu2 { background-color: #E74856; }
.flu3 { background-color: #0078D7; }
.flu4 { background-color: #0099BC; }
.flu5 { background-color: #7A7574; }
.flu6 { background-color: #767676; }
.flu7 { background-color: #FF8C00; }
.flu8 { background-color: #E81123; }
.flu9 { background-color: #0063B1; }
.flu10 { background-color: #2D7D9A; }
.flu11 { background-color: #5D5A58; }
.flu12 { background-color: #4C4A48; }
.flu13 { background-color: #F7630C; }
.flu14 { background-color: #EA005E; }
.flu15 { background-color: #8E8CD8; }
.flu16 { background-color: #00B7C3; }
.flu17 { background-color: #68768A; }
.flu18 { background-color: #69797E; }
.flu19 { background-color: #CA5010; }
.flu20 { background-color: #C30052; }
.flu21 { background-color: #6B69D6; }
.flu22 { background-color: #038387; }
.flu23 { background-color: #515C6B; }
.flu24 { background-color: #4A5459; }
.flu25 { background-color: #DA3B01; }
.flu26 { background-color: #E3008C; }
.flu27 { background-color: #8764B8; }
.flu28 { background-color: #00B294; }
.flu29 { background-color: #567C73; }
.flu30 { background-color: #647C64; }
.flu31 { background-color: #EF6950; }
.flu32 { background-color: #BF0077; }
.flu33 { background-color: #744DA9; }
.flu34 { background-color: #018574; }
.flu35 { background-color: #486860; }
.flu36 { background-color: #525E54; }
.flu37 { background-color: #D13438; }
.flu38 { background-color: #C239B3; }
.flu39 { background-color: #B146C2; }
.flu40 { background-color: #00CC6A; }
.flu41 { background-color: #498205; }
.flu42 { background-color: #847545; }
.flu43 { background-color: #FF4343; }
.flu44 { background-color: #9A0089; }
.flu45 { background-color: #881798; }
.flu46 { background-color: #10893E; }
.flu47 { background-color: #107C10; }
.flu48 { background-color: #7E735F; }
