/* Framework Untuk Penggunaan Pribadi */

/* Material Color */
.mat1 { background-color: #8BC34A; }
.mat2 { background-color: #FFEB3B; }
.mat3 { background-color: #FFC107; }
.mat4 { background-color: #FF5722; }
.mat5 { background-color: #E91E63; }
.mat6 { background-color: #3F51B5; }
.mat7 { background-color: #259B24; }
.mat8 { background-color: #CDDC39; }
.mat9 { background-color: #FF9800; }
.mat10 { background-color: #E51C22; }
.mat11 { background-color: #9C27B0; }
.mat12 { background-color: #673AB7; }
.mat13 { background-color: #03A9F4; }
.mat14 { background-color: #00BCD4; }
.mat15 { background-color: #9E9E9E; }
.mat16 { background-color: #607D8B; }
.mat17 { background-color: #5677FC; }
.mat18 { background-color: #009688; }
.mat19 { background-color: #795548; }
.mat20 { background-color: #212121; }
