/* Framework Untuk Penggunaan Pribadi */

/* Material Color */
.mat-1 { background-color: #8BC34A; }
.mat-2 { background-color: #FFEB3B; }
.mat-3 { background-color: #FFC107; }
.mat-4 { background-color: #FF5722; }
.mat-5 { background-color: #E91E63; }
.mat-6 { background-color: #3F51B5; }
.mat-7 { background-color: #259B24; }
.mat-8 { background-color: #CDDC39; }
.mat-9 { background-color: #FF9800; }
.mat-10 { background-color: #E51C22; }
.mat-11 { background-color: #9C27B0; }
.mat-12 { background-color: #673AB7; }
.mat-13 { background-color: #03A9F4; }
.mat-14 { background-color: #00BCD4; }
.mat-15 { background-color: #9E9E9E; }
.mat-16 { background-color: #607D8B; }
.mat-17 { background-color: #5677FC; }
.mat-18 { background-color: #009688; }
.mat-19 { background-color: #795548; }
.mat-20 { background-color: #212121; }

/* Flat Color */
.fla-1 { background-color: #1abc9c; }
.fla-2 { background-color: #2ecc71; }
.fla-3 { background-color: #3498db; }
.fla-4 { background-color: #9b59b6; }
.fla-5 { background-color: #34495e; }
.fla-6 { background-color: #95a5a6; }
.fla-7 { background-color: #16a085; }
.fla-8 { background-color: #27ae60; }
.fla-9 { background-color: #2980b9; }
.fla-10 { background-color: #8e44ad; }
.fla-11 { background-color: #2c3e50; }
.fla-12 { background-color: #7f8c8d; }
.fla-13 { background-color: #f1c40f; }
.fla-14 { background-color: #e67e22; }
.fla-15 { background-color: #e74c3c; }
.fla-16 { background-color: #ecf0f1; }
.fla-17 { background-color: #f39c12; }
.fla-18 { background-color: #d35400; }
.fla-19 { background-color: #c0392b; }
.fla-20 { background-color: #bdc3c7; }

/* Fluent Color */
.flu-1 { background-color: #FFB900; }
.flu-2 { background-color: #E74856; }
.flu-3 { background-color: #0078D7; }
.flu-4 { background-color: #0099BC; }
.flu-5 { background-color: #7A7574; }
.flu-6 { background-color: #767676; }
.flu-7 { background-color: #FF8C00; }
.flu-8 { background-color: #E81123; }
.flu-9 { background-color: #0063B1; }
.flu-10 { background-color: #2D7D9A; }
.flu-11 { background-color: #5D5A58; }
.flu-12 { background-color: #4C4A48; }
.flu-13 { background-color: #F7630C; }
.flu-14 { background-color: #EA005E; }
.flu-15 { background-color: #8E8CD8; }
.flu-16 { background-color: #00B7C3; }
.flu-17 { background-color: #68768A; }
.flu-18 { background-color: #69797E; }
.flu-19 { background-color: #CA5010; }
.flu-20 { background-color: #C30052; }
.flu-21 { background-color: #6B69D6; }
.flu-22 { background-color: #038387; }
.flu-23 { background-color: #515C6B; }
.flu-24 { background-color: #4A5459; }
.flu-25 { background-color: #DA3B01; }
.flu-26 { background-color: #E3008C; }
.flu-27 { background-color: #8764B8; }
.flu-28 { background-color: #00B294; }
.flu-29 { background-color: #567C73; }
.flu-30 { background-color: #647C64; }
.flu-31 { background-color: #EF6950; }
.flu-32 { background-color: #BF0077; }
.flu-33 { background-color: #744DA9; }
.flu-34 { background-color: #018574; }
.flu-35 { background-color: #486860; }
.flu-36 { background-color: #525E54; }
.flu-37 { background-color: #D13438; }
.flu-38 { background-color: #C239B3; }
.flu-39 { background-color: #B146C2; }
.flu-40 { background-color: #00CC6A; }
.flu-41 { background-color: #498205; }
.flu-42 { background-color: #847545; }
.flu-43 { background-color: #FF4343; }
.flu-44 { background-color: #9A0089; }
.flu-45 { background-color: #881798; }
.flu-46 { background-color: #10893E; }
.flu-47 { background-color: #107C10; }
.flu-48 { background-color: #7E735F; }
